
.frame {
    font-size: 16px;
    border-collapse: collapse;
    table-layout: fixed;
}
.cell{
    min-width: 100px;
    height:24px;
    border: 1px solid gray;
    text-align: center;
}

.frame td, table th {
    border: 1px solid gray;
}
.frame tr:first-child td {
    border-top: 0;
}
.frame tr:last-child td {
    border-bottom: 0;
}
.frame tr td:first-child,
.frame tr th:first-child {
    border-left: 0;
}
.frame tr td:last-child,
.frame tr th:last-child {
    border-right: 0;
}
