
.pivot-frame {
    font-size: 15px;
    border-collapse: collapse;
    table-layout: fixed;
}
.pivot-cell{
    min-width: 100px;
    height:24px;
    border: 1px solid gray;
    text-align: center;
    padding: 0;
}

.pivot-frame td, .pivot-frame th {
    border: 1px solid gray;
}
.pivot-frame tr:first-child td {
    border-top: 0;
}
.pivot-frame tr:last-child td {
    border-bottom: 0;
}
.pivot-frame tr td:first-child,
.pivot-frame tr th:first-child {
    border-left: 0;
}
.pivot-frame tr td:last-child,
.pivot-frame tr th:last-child {
    border-right: 0;
}

*{
    scrollbar-width:thin;
}